language: java
jdk:
- oraclejdk7
sudo: false

script:
  - ./gradlew clean tar tarFull

deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: Bw/73q0Y+mBYZ/UYQKB6ATj3BtATg3SVMBtxmy8+9yK/65EVKlzILo8sdYG+jl/5oGpPQSMktJOCIEPnaM7C1v7EMkkfLAQPt34ZCAF0FqpVgXmzqCEdm6Up6F8eOjZG1P6njuZodYoNX4PAdN1BYXXTm7z5sLkJ78kPkdoPIQw=
  file:
    - "build/distributions/openmuc-${TRAVIS_TAG:1}_full.tgz"
    - "build/distributions/openmuc-${TRAVIS_TAG:1}.tgz"
  on:
    tags: true
