<form name="userForm" class="form-horizontal" ng-submit="saveUser()" novalidate>
  <fieldset>
    <legend>{{'ADD_USER' | translate}}</legend>

    <div class="form-group">
      <label for="id" class="col-md-2 control-label">{{'USERNAME' | translate}} *</label>
      <div class="col-md-6">
        <input type="text" class="form-control" name="id" id="id" ng-model="user.configs.id" required="required" ng-class="{true: 'form-submitted', false: ''}[userForm.submitted]">
        <div class="form-error-container" ng-show="(userForm.id.$dirty && userForm.id.$invalid) || (userForm.submitted && userForm.id.$invalid)">
          <div class="form-error-message" ng-show="userForm.id.$error.required">{{'USERNAME_REQUIRED' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-md-2 control-label">{{'PASSWORD' | translate}} *</label>
      <div class="col-md-6">
        <input type="password" class="form-control" name="password" id="password" ng-model="user.configs.password" required="required" ng-class="{true: 'form-submitted', false: ''}[userForm.submitted]">
        <div class="form-error-container" ng-show="(userForm.password.$dirty && userForm.password.$invalid) || (userForm.submitted && userForm.password.$invalid)">
          <div class="form-error-message" ng-show="userForm.password.$error.required">{{'PASSWORD_REQUIRED' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordConfirmation" class="col-md-2 control-label">{{'CONFIRM_PASSWORD' | translate}} *</label>
      <div class="col-md-6">
        <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" ng-model="user.configs.passwordConfirmation" match="user.configs.password" required="required" ng-class="{true: 'form-submitted', false: ''}[userForm.submitted]">
        <div class="form-error-container" ng-show="(userForm.passwordConfirmation.$dirty && userForm.passwordConfirmation.$invalid) || (userForm.submitted && userForm.passwordConfirmation.$invalid)">
          <div class="form-error-message" ng-show="userForm.passwordConfirmation.$error.required">{{'PASSWORD_CONFIRMATION_REQUIRED' | translate}}</div>
          <div class="form-error-message" ng-show="userForm.passwordConfirmation.$error.match">{{'PASSWORD_DO_NOT_MATCH' | translate}}</div>
        </div>
      </div>    
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="alert alert-md alert-warning">
          <b class="small">* {{'REQUIRED_FIELDS' | translate}}</b><br />
        </div>
      </div>
    </div>
    
    <div class="col-md-8 text-right">
      <input type="submit" class="btn btn-primary" value="{{'SAVE' | translate}}">
    </div>

  </fieldset>
</form>