<form class="form-horizontal" name="userForm" ng-submit="saveUser()" novalidate>
    <fieldset>
        <legend>{{'ADD_USER' | translate}}</legend>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="id">{{'USERNAME' | translate}} *</label>
            <div class="col-sm-6">
                <input class="form-control" id="id" name="id" ng-class="{true: 'form-submitted', false: ''}[userForm.submitted]" ng-model="user.configs.id" required="required"
                       type="text">
                <div class="form-error-container"
                     ng-show="(userForm.id.$dirty && userForm.id.$invalid) || (userForm.submitted && userForm.id.$invalid)">
                    <div class="form-error-message" ng-show="userForm.id.$error.required">{{'USERNAME_REQUIRED' |
                        translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">{{'PASSWORD' | translate}} *</label>
            <div class="col-sm-6">
                <input class="form-control" id="password" name="password" ng-class="{true: 'form-submitted', false: ''}[userForm.submitted]"
                       ng-model="user.configs.password" required="required"
                       type="password">
                <div class="form-error-container"
                     ng-show="(userForm.password.$dirty && userForm.password.$invalid) || (userForm.submitted && userForm.password.$invalid)">
                    <div class="form-error-message" ng-show="userForm.password.$error.required">{{'PASSWORD_REQUIRED' |
                        translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="passwordConfirmation">{{'CONFIRM_PASSWORD' | translate}}
                *</label>
            <div class="col-sm-6">
                <input class="form-control" id="passwordConfirmation" match="user.configs.password" name="passwordConfirmation"
                       ng-class="{true: 'form-submitted', false: ''}[userForm.submitted]" ng-model="user.configs.passwordConfirmation" required="required"
                       type="password">
                <div class="form-error-container"
                     ng-show="(userForm.passwordConfirmation.$dirty && userForm.passwordConfirmation.$invalid) || (userForm.submitted && userForm.passwordConfirmation.$invalid)">
                    <div class="form-error-message" ng-show="userForm.passwordConfirmation.$error.required">
                        {{'PASSWORD_CONFIRMATION_REQUIRED' | translate}}
                    </div>
                    <div class="form-error-message" ng-show="userForm.passwordConfirmation.$error.match">
                        {{'PASSWORD_DO_NOT_MATCH' | translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="alert alert-sm alert-warning">
                    <b class="small">* {{'REQUIRED_FIELDS' | translate}}</b><br/>
                </div>
            </div>
        </div>

        <div class="col-sm-8 text-right">
            <input class="btn btn-primary" type="submit" value="{{'SAVE' | translate}}">
        </div>

    </fieldset>
</form>