<div ng-controller="TabsController">
    <div ng-if="!confFile">
        <uib-tabset class="nav nav-tabs">
            <uib-tab class="nav-item active" data-toggle="tab" heading="{{'DATA_PLOTTER' | translate}}"
                     ui-sref="dataplotter.data"></uib-tab>
            <uib-tab class="nav-item active" data-toggle="tab" heading="{{'LIVE_PLOTTER' | translate}}"
                     ui-sref="dataplotter.live"></uib-tab>
        </uib-tabset>
    </div>
    <div ng-if="confFile">
        <uib-tabset active="activeTabIndex" class="nav nav-tabs">
            <uib-tab class="nav-item" heading="{{plotter.name}}" index="plotter.name"
                     ng-click="setTabIndex(plotter.name)" ng-repeat="plotter in confFile"
                     ui-sref="dataplotter.{{plotter.type}}({name: plotter.name})">
            </uib-tab>
        </uib-tabset>
    </div>
</div>