<form ng-submit="accessChannels()" novalidate>

    <table class="table table-hover" id="access-tool-table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{{'CHANNEL_ACCESS_TOOL_DEVICE_ID' | translate}}</th>
            <th>{{'DESCRIPTION' | translate}}</th>
        </tr>
        </thead>
        <tr ng-click="checkedDevices[device.id] = !checkedDevices[device.id]" ng-repeat="device in devices">
            <td>
                <input name="checkedDevices"
                       ng-click="$event.stopPropagation()"
                       ng-model="checkedDevices[device.id]"
                       type="checkbox"/>
            </td>
            <td>{{device.id}}</td>
            <td>{{device.description}}</td>
        </tr>
        <tr>
            <td><input ng-model="check" ng-model-options="{getterSetter: true}" type="checkbox"/></td>
            <td colspan="2"><b>{{'SELECT_ALL' | translate}}</b></td>
        </tr>
    </table>

    <div class="text-right">
        <input class="btn btn-primary" type="submit" value="{{'ACCESS_SELECTED' | translate}}...">
    </div>

</form>