<form name="driverForm" class="form-horizontal" ng-submit="saveDriver()" novalidate>
  <fieldset>
    <legend>{{'DRIVER_CONFIGURATIONS' | translate}}:</legend>
    
    <br />
    
    <div class="form-group">
      <label for="id" class="col-md-2 control-label">
        <span class="item-icon fa fa-info-circle" aria-hidden="true" data-placement="right" data-container="body" uib-tooltip="{{'DRIVER_ID_HINT' | translate}}"></span>
        {{'DRIVER_ID' | translate}} * 
      </label>
      <div class="col-md-6">
        <input type="text" class="form-control" ng-class="{true: 'form-submitted', false: ''}[driverForm.submitted]" id="id" name="id" ng-model="driver.configs.id" required="required" ng-pattern="/^[a-zA-Z0-9_\-]*$/">
        <div class="form-error-container" ng-show="(driverForm.id.$dirty && driverForm.id.$invalid) || (driverForm.submitted && driverForm.id.$invalid)">
          <div class="form-error-message" ng-show="driverForm.id.$error.required">{{ 'DRIVER_ID_REQUIRED' | translate}}</div>
          <div class="form-error-message" ng-show="driverForm.id.$error.pattern">{{'DRIVER_ID_PATTERN_INCORRECT' | translate}}</div>
        </div>
        <p class="help-block">N.A. **</p>
      </div>
    </div>

    <div class="form-group">
      <label for="samplingTimeout" class="col-md-2 control-label">
        <span class="item-icon fa fa-info-circle" aria-hidden="true" data-placement="right" data-container="body" uib-tooltip="{{'DRIVER_SAMPLING_TIMEOUT_HINT' | translate}}"></span>
        {{'DRIVER_SAMPLING_TIMEOUT' | translate}}
      </label>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" id="samplingTimeout" name="samplingTimeout" ng-model="driver.configs.samplingTimeout" ng-pattern="/^[0-9]{1,10}$/">
          <div class="input-group-append"><span class="input-group-text">ms</span></div>
        </div>
        <div class="form-error-container" ng-show="(driverForm.samplingTimeout.$dirty && driverForm.samplingTimeout.$invalid) || (driverForm.submitted && driverForm.samplingTimeout.$invalid)">
          <div class="form-error-message" ng-show="driverForm.samplingTimeout.$error.pattern">{{'SHOULD_BE_INTEGER' | translate}}</div>
        </div>
        <p class="help-block">0 ({{'UNLIMITED' | translate}}) **</p>
      </div>
    </div>

    <div class="form-group">
      <label for="connectRetryInterval" class="col-md-2 control-label">
        <span class="item-icon fa fa-info-circle" aria-hidden="true" data-placement="right" data-container="body" uib-tooltip="{{'DRIVER_CONNECT_RETRY_INTERVAL_HINT' | translate}}"></span>
        {{'DRIVER_CONNECT_RETRY_INTERVAL' | translate}}
      </label>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" id="connectRetryInterval" name="connectRetryInterval" ng-model="driver.configs.connectRetryInterval" ng-pattern="/^[0-9]{1,10}$/">
          <div class="input-group-append"><span class="input-group-text">ms</span></div>
        </div>
        <div class="form-error-container" ng-show="(driverForm.connectRetryInterval.$dirty && driverForm.connectRetryInterval.$invalid) || (driverForm.submitted && driverForm.connectRetryInterval.$invalid)">
          <div class="form-error-message" ng-show="driverForm.connectRetryInterval.$error.pattern">{{'SHOULD_BE_INTEGER' | translate}}</div>
        </div>        
        <p class="help-block">60000 (60s) **</p>
      </div>
    </div>

    <div class="form-group">
      <label for="disabled" class="col-md-2">
        <span class="item-icon fa fa-info-circle" aria-hidden="true" data-placement="right" data-container="body" uib-tooltip="{{'DRIVER_DISABLED_HINT' | translate}}"></span>      
        {{'DRIVER_DISABLED' | translate}}
      </label>
      <div class="col-md-6">
        <input type="checkbox" id="disabled" ng-model="driver.configs.disabled">
        <p class="help-block">{{ 'FALSE' | translate}} **</p>
      </div>
    </div>
    
    <div class="row">
	    <div class="col-md-8">
	      <div class="alert alert-md alert-warning">
          <b class="mdall">* {{'REQUIRED_FIELDS' | translate}}</b><br />
	        <b class="mdall">** {{'DEFAULT_LEFT_BLANK' | translate}}</b>
	      </div>
	    </div>
    </div>
    
    <div class="col-md-8 text-right">
      <input type="submit" ng-click="setTabIndex(0)" class="btn btn-primary" value="{{'SUBMIT' | translate}}">
    </div>

  </fieldset>
</form>
